* {
    margin: 0 ;
    color: #262626;
    font-family: Helvetica, sans-serif;
    max-width: 1200px;
    /* border: 1px solid red; */
}
a{
 color: black;
 text-decoration: none;
}
h1 {
    font-size: 3em;
    color: #262626;
}

h2 {
    font-size: 1.25em;
    font-weight: 100;
    width: 60%;
}

h3 {
    font-size: 1.5em;
    text-decoration: underline;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
    color: #262626;

}

/* Nav bar */
nav img{

}
nav {

    position: fixed;
    background-color: white;
    width: 100%;
    height: 50px;
    display: flex;
    scroll-snap-align: start;

}

#spotifyLogo {
    height: 40px;
    width: auto;

}

nav ul {
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

nav ul > * {
    padding: 0px 10px;
    align-self: center;
}
.backgroundParty {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    height: 600px;

}
#partyBanner {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#partyBanner h1, h2 {
    padding: 15px 0px;
    align-self: center;
    color: #f2f2f2;
}



#features {
    display: flex;
    flex-direction: column;
        text-align: center;
}
#features img{
  align-self: center;

}
#features h3 {
    text-decoration-color: #00B172;
    padding: 20px 0px;
}

#features h4 {
    color: #00B172;
}

#featuresSpaceing {
    padding: 40px 0px;
    display: flex;
}

#featuresSpaceing div {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

#featuresSpaceing div > * {
    padding: 10px 0px;
}

.featuresLogo {

    width:90px;
}



#bottomBlock {
    padding: 40px 25px;
    margin: 0 20px;
    display: flex;
    background-color: #00B172;
    justify-content: space-around;
}

#bottomBlock * {
    color:#f2f2f2;
}

#yesus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#yesus > * {
    margin: 0;
    padding: 0px 0px;
    display: flex;
}

.halfWidthSections {
    max-width: 50%;

}

#bottomBlock h3 {
    text-decoration-color: #f2f2f2;
}

#spotifyScreenshot {
    height: auto;
    width: 250px;
    margin: 30px 0px;
}

#spotifyLogo2 {
    margin: 0;
    padding: 0;
    height: 100px;
    width: auto;
    position: absolute;
    align-self: center;
}



.aboutSection {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
}

#about {
    background-image: url('../images/200403-tiger-king-tease_piqbhy.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#overlay {
position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: block;
}



.textContainer p {
    letter-spacing: 1px;
    font-size: 35px;
    color: #fff;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.textContainer-text {
    width: 440px;
    height: min-content;
}

