* {
    margin: 0 ;
    font-family: Helvetica, sans-serif;
    max-width: 1200px;
    /* border: 1px solid red; */
}
a{
 color: black;
 text-decoration: none;
}
h1 {
    font-size: 3em;
    color: #262626;
}

h2 {
    font-size: 1.25em;
    font-weight: 100;
    width: 60%;
}

h3 {
    font-size: 1.5em;
    text-decoration: underline;
}

h4 {
    font-size: 1.2em;
    font-weight: bold;
    color: #262626;

}

/* Nav bar */
nav img{

}
nav {

    position: inherit;
    background-color: rgb(231, 231, 231);
    width: 100%;
    height: 50px;
    display: flex;
    scroll-snap-align: start;

}

#spotifyLogo {
    height: 40px;
    width: auto;

}

nav ul {
    float: right;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

nav ul > * {
    padding: 0px 10px;
    align-self: center;
}
.backgroundParty {
    pointer-events: none;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    height: 600px;

}
#partyBanner {
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

#partyBanner h1, h2 {
    padding: 15px 0px;
    align-self: center;
    color: #f2f2f2;
}



#features {
    display: flex;
    flex-direction: column;
        text-align: center;
}
#features img{
  align-self: center;

}
#features h3 {
    text-decoration-color: #00B172;
    padding: 20px 0px;
}

#features h4 {
    color: #00B172;
}

#featuresSpaceing {
    padding: 40px 0px;
    display: flex;
}

#featuresSpaceing div {
    padding: 0 40px;
    display: flex;
    flex-direction: column;
}

#featuresSpaceing div > * {
    padding: 10px 0px;
}

.featuresLogo {

    width:90px;
}



#bottomBlock {
    padding: 40px 25px;
    margin: 0 20px;
    display: flex;
    background-color: #00B172;
    justify-content: space-around;
}

#bottomBlock * {
    color:#f2f2f2;
}

#yesus {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#yesus > * {
    margin: 0;
    padding: 0px 0px;
    display: flex;
}

.halfWidthSections {
    max-width: 50%;

}

#bottomBlock h3 {
    text-decoration-color: #f2f2f2;
}

#spotifyScreenshot {
    height: auto;
    width: 250px;
    margin: 30px 0px;
}

#spotifyLogo2 {
    margin: 0;
    padding: 0;
    height: 100px;
    width: auto;
    position: absolute;
    align-self: center;
}



.aboutSection {
    position: absolute;
    height: 100%;
    width: 100%;
    z-index: 3;
}

<<<<<<< HEAD
#about {
    background-image: url('../images/200403-tiger-king-tease_piqbhy.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#overlay {
position: absolute;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
    display: block;
}



.textContainer p {
    letter-spacing: 1px;
    font-size: 35px;
    color: #fff;
}

.textContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.textContainer-text {
    width: 440px;
    height: min-content;
}

=======





























/* FOOTER */
.footer {
	width: 100vw;
	background: #00121be5;
    display: block;
    border: 2px solid rgba(0, 139, 139, 0.418);

 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background:  rgba(0, 139, 139, 0.418);
	color:  rgba(0, 139, 139, 0.418);
	background-color:  rgba(0, 139, 139, 0.418);
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: rgba(0, 139, 139, 0.418);
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}
>>>>>>> a6ef0cadb1dd1eec70589fa6fe09c1aafeb2d9f3
